node_modules/
.env
.env.local
.DS_Store
coverage/
dist/
build/
.eslintcache
*.log

# Frontend specifics
ecommerce-frontend/dist/
ecommerce-frontend/node_modules/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Infrastructure Build
infrastructure/dist/
*.zip
